<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DBApp1.Properties.Settings.crystoConnectionString" connectionString="Data Source=CRYSTOLINE\SQLEXPRESS;Initial Catalog=crysto;Persist Security Info=True;User ID=sa;Password=dekunle" providerName="System.Data.SqlClient" />
    <add name="crystoEntities" connectionString="metadata=res://*/Models.CrystoModels2.csdl|res://*/Models.CrystoModels2.ssdl|res://*/Models.CrystoModels2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CRYSTOLINE\SQLEXPRESS;initial catalog=crysto;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="crystoEntities1" connectionString="metadata=res://*/Designs.Model1.csdl|res://*/Designs.Model1.ssdl|res://*/Designs.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CRYSTOLINE\SQLEXPRESS;initial catalog=crysto;user id=sa;connect timeout=30;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>